@model IEnumerable<BookStore.Models.Infrastructure.ApplicationUser>
@{
    ViewBag.Title = "Employee";
    TempData["type"] = ViewBag.type;
}




<div id="page-title">
    <h3>Supplier List</h3>
    <h6>Find out all Supplier here.</h6>
</div>

<div class="panel">
    <div class="panel-body">
        <div class="example-box-wrapper">
            <a class="btn btn-primary btn-hover" href="/User/Create?type=Employee">
                <span>Add Employee</span>
                <i class="glyph-icon icon-plus" title="" data-original-title=".icon-plus" aria-describedby="tooltip941007">
                </i>
            </a>
        
            <h3 class="title-hero">
                @Html.Raw(ViewBag.message)
            </h3>


            <table id="example" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th class="all">Sl No</th>
                        <th class="all">Name</th>
                        <th>Image</th>
                        <th>User Name</th>
                        <th>NID</th>
                        <th>Phone</th>
                        <th>Blood Group</th>
                        <th>Present Address</th>
                        <th>Permanent Address</th>
                        <th>Birth Date</th> 
                        <th>Salary</th>                      
                        <th>Status</th>                        
                        <th class="all"></th>
                    </tr>
                </thead>


                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td></td>
                            <td>@item.Name</td>
                            <td class="img-td"><img class="img-td" src="@Url.Action("GetImage", "Image", new { id = item.Id })"></td>
                            <td>@item.UserName</td>
                            <td>@item.NID</td>
                            <td>@item.Phone</td>
                            <td>@item.BloodGroup</td>
                            <td>@item.PresentAddress</td>
                            <td>@item.PermanentAddress</td>
                            <td>@item.DateOfBirth</td>
                            <td>@item.Salary</td>
                            <td>@item.IsActive</td>


                            <td>
                                <a href="@Url.Action("Edit", "User", new { id = item.Id, type =item.UserType})" class="btn btn-default btn-sm font-green" data-content="Edit Product..@item.Name" data-trigger="hover" data-placement="top" data-original-title="@item.Name">
                                    <i class="glyph-icon icon-edit" title="">
                                    </i>
                                </a>

                                <a href="@Url.Action("Details", "User", new { id = item.Id })" class="btn btn-default btn-sm font-green">
                                    <i class="glyph-icon icon-ellipsis-v" title="" data-original-title=".icon-ellipsis-v"></i>
                                </a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
