@model BookStore.Models.Inventory.Invoice
@{
    TempData["Option"] = ViewBag.Option;
}
@*below is for jquery DatePicker*@
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
@*<script src="~/Scripts/jquery-1.12.4.js"></script> this is in Layout page so omitted here*@
<script src="~/Scripts/jquery-ui.js"></script>

<div id="page-title">
    <h2>Profit Expense Edit Form</h2>
</div>
@if (ViewBag.message == "success")
{
    <div class="alert alert-close alert-success">
        <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove"></a>
        <div class="bg-green alert-icon">
            <i class="glyph-icon icon-check"></i>
        </div>
        <div class="alert-content">
            <h4 class="alert-title">Success Message Alert</h4>

            @if (ViewBag.message == "success")
            {
                <p>Data Save Successfull! </p>
            }
            <p>@Html.Raw(ViewBag.message)</p>


        </div>
    </div>

}
else if (ViewBag.message == "")
{
    <div class="alert alert-close alert-success">
        <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove"></a>

        <div class="alert-content">
            <h4 class="alert-title">Wellcome Profit Expense Edit Form</h4>
        </div>
    </div>
}
else
{
    <div class="alert alert-danger">
        <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove"></a>

        <div class="alert-content">
            <h4 class="alert-title">Unsuccessful Alert</h4>
            <p>@Html.Raw(ViewBag.message)</p>
        </div>
    </div>

}

<div class="panel">
    <div class="panel-body">

        <div class="example-box-wrapper">
            @using (Html.BeginForm("EditProfitExpense", "InvTransaction", FormMethod.Post, new { @class = "form-horizontal bordered-row", id = "demo-form", data_parsley_validate = "", novalidate = "" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-md-6">
                        @Html.ValidationSummary(true)
                    </div>
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.CreatedDate)
                    @Html.HiddenFor(model => model.CreatedBy)



                </div>

                @*<div class="row">
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><span class="red">*</span>Invoice Type</label>
                            <div class="col-sm-4">
                                @Html.DropDownList("InvoiceType", (IEnumerable<SelectListItem>)ViewBag.InvoiceType, "--Invoice Type--", new { id = "InvoiceType", required = "required", @class = "form-control pull-left txt-hight-35" })
                                <ul class="parsley-errors-list" id="parsley-id-4059"></ul>
                            </div>
                        </div>
                    </div>*@

                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-3 control-label"><span class="red">*</span>Bill Date</label>
                        <div class="col-sm-4">
                            <div class="input-prepend input-group">
                                @*<span class="add-on input-group-addon">
                                    <i class="glyph-icon icon-calendar"></i>
                                </span>*@
                                <span>
                                    @Html.TextBoxFor(model => model.InvoiceDate, "{0:d-MMM-yy}", new { id = "ToDate", @class = "datepicker form-control disabled no-border", type = "text", required = "required", data_parsley_id = "4059" })
                                </span>
                                <ul class="parsley-errors-list" id="parsley-id-4059"></ul>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-3 control-label"><span class="red">*</span>Monthly Others Profit</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.BonusOrExtra, new { id = "MonthlyProfit", @class = "form-control decimal", required = "required", data_parsley_id = "4059" })
                            <ul class="parsley-errors-list" id="parsley-id-4059"></ul>
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-3 control-label"><span class="red">*</span>House or Room Rent</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.RentExpense, new { @class = "form-control decimal", required = "required" })
                            <ul class="parsley-errors-list" id="parsley-id-4059"></ul>
                        </div>
                    </div>
                </div>

                <div class="row hidden">
                    <div class="form-group">
                        <label class="col-sm-3 control-label"><span class="red">*</span>Electricity Bill</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.ElectricityBill, new { @Value = "0", @class = "form-control decimal hidden" })
                            <ul class="parsley-errors-list" id="parsley-id-4059"></ul>
                        </div>
                    </div>
                </div>

                <div class="row hidden">
                    <div class="form-group">
                        <label class="col-sm-3 control-label"><span class="red">*</span>Gass Bill</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.GassBill, new { @Value = "0", @class = "form-control decimal hidden" })
                            <ul class="parsley-errors-list" id="parsley-id-4059"></ul>
                        </div>
                    </div>
                </div>

                <div class="row hidden">
                    <div class="form-group">
                        <label class="col-sm-3 control-label"><span class="red">*</span>Water Bill</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.WaterBill, new { @Value = "0", @class = "form-control decimal hidden" })
                            <ul class="parsley-errors-list" id="parsley-id-4059"></ul>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-3 control-label"><span class="red">*</span>Utility Bill</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.OtherExpense, new { @class = "form-control decimal", required = "required" })
                            <ul class="parsley-errors-list" id="parsley-id-4059"></ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Short Note</label>
                        <div class="col-sm-4">
                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", data_parsley_maxlength = "150", placeholder = "At most 150 characters", data_parsley_id = "0502" })
                            <ul class="parsley-errors-list" id="parsley-id-0502"></ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-3 control-label"><span class="red">*</span>Total Amount</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.Total, new { @class = "form-control decimal disabled no-border", required = "required" })
                            <ul class="parsley-errors-list font-red" id="parsley-id-4059"></ul>
                        </div>
                    </div>
                </div>

                <div class="row hidden">
                    <div class="form-group">
                        <label class="col-sm-3 control-label"><span class="red">*</span>Sub total</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.Payable, new { @class = "form-control decimal disabled no-border", required = "required" })
                            <ul class="parsley-errors-list" id="parsley-id-4059"></ul>
                        </div>
                    </div>
                </div>

                <div class="row hidden">
                    <div class="form-group">
                        <label class="col-sm-3 control-label"><span class="red">*</span>Paid</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.Paid, new { @class = "form-control decimal disabled no-border", required = "required" })
                            <ul class="parsley-errors-list" id="parsley-id-4059"></ul>
                        </div>
                    </div>
                </div>




                <div class="row bg-default content-box">

                    <label class="col-sm-3 control-label">
                        <span class="pull-left">
                            <a class="btn btn-link font-blue" href="/InvTransaction/ExpenseList">
                                <i class="glyph-icon icon-angle-double-left" title="" data-original-title=".icon-angle-double-left" aria-describedby="tooltip602646">
                                    Back to List
                                </i>
                            </a>
                        </span>
                    </label>
                    <div class="col-sm-4">
                        <button class="btn btn-lg btn-primary btn-hover" id="btnSubmit">
                            <span>Save Transaction</span>
                            <i class="glyph-icon icon-check" title="" data-original-title=".icon-check" aria-describedby="tooltip941007"></i>
                        </button>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<script>
    $(function () {
        $(".datepicker").datepicker({ dateFormat: "dd-M-yy", maxDate: '0' }).val();
    });
</script>

<script src="~/Scripts/Transaction.js"></script>
<script src="~/Scripts/input_validation.js"></script>

