@model IEnumerable<BookStore.Models.Inventory.Brand>

@{
    ViewBag.Title = "Index";
}
<style>
    table .collapse.in {
        display: table-row;
    }
</style>
<div id="page-title">
    <h2>All Brand List</h2>
    <h6>Find out all product brand here.</h6>   
 
</div>

<div class="panel">
    <div class="panel-body">
        <h3 class="title-hero">
            @*Responsive data tables*@
        </h3>
        <div class="example-box-wrapper">
            <a class="btn btn-primary btn-hover" href="/InvBrand/Create">
                <span>Add Brand</span>
                <i class="glyph-icon icon-plus" title="" data-original-title=".icon-plus" aria-describedby="tooltip941007">

                </i>
            </a>
          
            <h3 class="title-hero">
                @Html.Raw(ViewBag.message)
            </h3>
            <div id="datatable-responsive_wrapper" class="dataTables_wrapper form-inline">
                <table id="example" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                    @*<table id="datatable-responsive" class="table table-striped table-bordered responsive no-wrap dataTable dtr-inline" cellspacing="0" width="100%" role="grid" aria-describedby="datatable-responsive_info" style="width: 100%;">*@
                        <thead>
                            <tr role="row">
                                <th>Sl No</th>
                                <th>Name</th>
                                <th>Catagory</th>                              
                                <th>ISIN</th>
                                <th>Description</th>

                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td></td>
                                    <td>@item.Name</td>
                                    <td>@item.Catagory.Name</td>                                   
                                    <td>@item.ISIN</td>

                                    <td>@item.Description</td>

                                    <td>
                                        <a href="@Url.Action("Edit", "InvBrand", new { id = item.Id })" class="btn btn-sm btn-default font-green" data-content="Edit Product..@item.Name" data-trigger="hover" data-placement="top" data-original-title="@item.Name">
                                            <i class="glyph-icon icon-edit" title="">
                                            </i>
                                        </a>

                                        <a href="@Url.Action("Details", "InvBrand", new { id = item.Id })" class="btn btn-sm btn-default font-green">
                                            <i class="glyph-icon icon-ellipsis-v" title="" data-original-title=".icon-ellipsis-v"></i>
                                        </a>

                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
    </div>

           

        </div>
    </div>
</div>