@model BookStore.Models.Inventory.Catagory

@{
    ViewBag.Title = "Details";
}


<h2>Details</h2>
<div class="panel">
    <div class="panel-body">

        <div class="example-box-wrapper">

            <div class="alert alert-notice">
                <div class="bg-blue alert-icon">
                    <i class="glyph-icon icon-info"></i>
                </div>
                <div class="alert-content">
                    <h4 class="alert-title">@*@Html.DisplayFor(model => model.Name)*@</h4>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Description)
                        </dd>                       

                        <dt>
                            @Html.DisplayNameFor(model => model.CreatedBy)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CreatedBy)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CreatedDate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CreatedDate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.UpdateBy)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.UpdateBy)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.UpdateDate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.UpdateDate)
                        </dd>

                    </dl>
                </div>
            </div>



            <span class="pull-left">
                <a class="btn btn-link font-blue" href="/InvCatagory/Index">
                    <i class="glyph-icon icon-angle-double-left" title="" data-original-title=".icon-angle-double-left" aria-describedby="tooltip602646">
                        Back to List
                    </i>
                </a>
            </span>


        </div>
    </div>
</div>

